.newFont {
  font-family: "Rajdhani", sans-serif;
  color: rgb(255, 255, 255);
}

.project {
  position: relative;
  font-size: 2.3rem;
  transition: all 500ms;
  z-index: 6;
  white-space: nowrap;
  list-style: none;
}

.project:hover {
  font-size: 2.4rem;
  font-size-adjust: 10px;
  color: rgb(255, 255, 255);
}

.list {
  position: absolute;
  margin-left: 70%;
  width: fit-content;
}
.github {
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.project img.github {
  display: none;
  opacity: 0;
  height: 40px;
  transition: opacity 4s ease-in-out;
}

.project:hover img.github {
  display: inline-block;
  height: 40px;
  opacity: 0.7;
}

.container {
  display: flex;
  justify-content: space-around;
}

.preview {
  margin-top: 3%;
  opacity: 1;
  height: 300px;
  border: 1px solid white;
  margin-left: 0%;
}

.selected {
  text-decoration: underline;
}

.github-visible {
  display: inline-block;
  opacity: 1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for small screens go here */
  .preview {
    margin-top: 100%;
    opacity: 1;
    height: 150px;
    border: 1px solid white;
    margin-left: 0%;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 0;
    padding: 0;
  }
  .project {
    position: relative;
    font-size: 1.7rem;
    transition: all 500ms;
    z-index: 6;
    white-space: nowrap;
    list-style: none;
  }

  .project:hover {
    font-size: 2rem;
    font-size-adjust: 10px;
    color: rgb(255, 255, 255);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* styles for medium screens go here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* styles for large screens go here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* styles for extra-large screens go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* styles for extra-extra-large screens go here */
}
