.newFont {
  font-family: "Rajdhani", sans-serif;
  color: rgb(255, 255, 255);
}

.project {
  position: relative;
  font-size: 2.3rem;
  transition: all 500ms;
  z-index: 6;
  white-space: nowrap;
  list-style: none;
}

.project:hover {
  font-size: 2.4rem;
  font-size-adjust: 10px;
  color: rgb(255, 255, 255);
}

.list {
  position: absolute;
  margin-left: 70%;
  width: fit-content;
}
.github {
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.project img.github {
  display: none;
  opacity: 0;
  height: 40px;
  transition: opacity 4s ease-in-out;
}

.project:hover img.github {
  display: inline-block;
  height: 40px;
  opacity: 0.7;
}

.container {
  display: flex;
  justify-content: space-around;
}

.preview {
  margin-top: 3%;
  opacity: 1;
  height: 300px;
  border: 1px solid white;
  margin-left: 0%;
}

.selected {
  text-decoration: underline;
}

.github-visible {
  display: inline-block;
  opacity: 1;
}
