:root {
  --pad: max(20px, 4vmin);
}

.imgDiv {
  position: relative;
}
.link {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 2vw;
}
.newFont {
  font-family: "Rajdhani", sans-serif;
  color: rgb(255, 255, 255);
}

.project {
  position: relative;

  font-size: 2vw;
  transition: all 500ms;
  z-index: 6;
  white-space: nowrap;
  list-style: none;
}

.project:hover {
  font-size: 2.2vw;
  font-size-adjust: 10px;
  color: rgb(255, 255, 255);
}

.list {
  position: absolute;

  right: calc(var(--pad) * 4);
  bottom: calc(var(--pad) * 3);
}
.github {
  height: 2vw;
  display: inline-block;
  vertical-align: middle;
}

.projectDescription {
  max-width: 10vw;
  font-size: 18px;
  margin-right: 10px;
}

.project img.github {
  display: none;
  opacity: 0;
  height: 40px;
  transition: opacity 4s ease-in-out;
}

.project:hover img.github {
  display: inline-block;
  height: 40px;
  opacity: 0.7;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: calc(var(--pad) * 18);
}

.preview {
  margin-top: 0%;
  opacity: 1;
  width: 30vw;
  border: 1px solid white;
  margin-left: 0%;
  opacity: 50%;
}

.selected {
  text-decoration: underline;
}

.github-visible {
  display: inline-block;
  opacity: 1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for small screens go here */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: initial;
  }
  .projectDescription {
    text-align: center;
    max-width: 80vw;
    font-size: 18px;
    margin-right: 10px;
  }
  .preview {
    top: 40vh;
    opacity: 50%;
    width: 70vw;
    border: 1px solid white;
    margin-left: 0%;
  }
  .list {
    display: flex;
    flex-direction: column;

    align-items: center;
    position: absolute;
    margin-left: 0;
    padding: 0;
    right: initial;
    bottom: initial;
    top: 67vh;
  }
  .project {
    position: relative;
    font-size: 1.5rem;
    transition: all 500ms;
    z-index: 6;
    white-space: nowrap;
    list-style: none;
  }

  .project:hover {
    font-size: 1.6rem;
    font-size-adjust: 10px;
    color: rgb(255, 255, 255);
  }
  .imgDiv {
    position: relative;
  }
  .link {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 6vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* styles for medium screens go here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* styles for large screens go here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* styles for extra-large screens go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* styles for extra-extra-large screens go here */
}
