:root {
  --pad: max(20px, 4vmin);
}

.center-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
}
.center-box:before {
  content: "";
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border: 1px solid white;
  box-sizing: border-box;

  margin: -8px;
  z-index: -1;
}
.name {
  padding-left: 80px;
  padding-top: 30px;
  color: white;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0;
  font-family: "Rajdhani", sans-serif;
}
.title {
  color: white;
  padding-left: 80px;
  font-family: "Rajdhani", sans-serif;
}

.linkUl {
  padding-top: 100px;
  padding-left: 80px;
  width: fit-content;
}

.links {
  position: relative;
  padding-top: 10px;
  list-style: none;
  font-size: 1.2rem;
  transition: all 500ms;
  z-index: 6;
  font-family: "Rajdhani", sans-serif;
}

.links:hover {
  font-size: 1.3rem;
  font-size-adjust: 50px;
  color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

.aboutSpan {
  position: relative;
  font-size: 1.8em;
  /* top: 6em; */
  font-family: "Rajdhani", sans-serif;
  /* padding-left: 65vw; */
  color: rgb(255, 255, 255);
}

.spanContainer {
  position: absolute;

  right: calc(var(--pad) * 2);
  bottom: calc(var(--pad) * 1.7);
}

body {
  background-color: #1d1d1d;
  margin: 0;
  overflow-x: hidden;
  color: white;
  /* border: 1px solid white;
  padding: 10px; */
  z-index: -1;
}

.bg {
  position: fixed;

  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
  z-index: -4;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for small screens go here */
  .center-box:before {
    content: "";
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid white;
    box-sizing: border-box;
    margin: -8px;
    z-index: -1;
  }
  .name {
    padding-left: 0%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: white;
    font-size: 2.3rem;
    font-weight: 100;
    margin-bottom: 0;
    font-family: "Rajdhani", sans-serif;
  }
  .title {
    display: flex;
    justify-content: center;
    color: white;
    padding-left: 0%;
    font-family: "Rajdhani", sans-serif;
  }
  .linkUl {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-left: 0vw;
    width: auto;
    justify-content: space-evenly;
  }

  .links {
    list-style: none;
    font-size: 1.2rem;
    transition: all 500ms;
    z-index: 6;
    font-family: "Rajdhani", sans-serif;
  }
  .aboutSpan {
    position: relative;
    font-size: 1.3rem;
    top: 10em;
    font-family: "Rajdhani", sans-serif;
    padding-left: 0%;
    color: rgb(255, 255, 255);
  }
  .spanContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: initial;
    right: initial;
    bottom: initial;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* styles for medium screens go here */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* styles for large screens go here */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* styles for extra-large screens go here */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* styles for extra-extra-large screens go here */
}
